[include]
	path = ~/.gituser
[color]
	ui = auto
[core]
	editor = nvim
[diff]
	external = gitdiff
[pager]
  diff =
[alias]
	b = branch
	br = branch
	d = diff
	dif = diff
	lc = log --graph --name-status --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
	l = log --graph --name-status --format=format:'%h - %aD (%ar)%d%n'' %s — %an' --abbrev-commit
	st = status
	co = checkout
	cm = commit
	com = commit
	empty = commit --allow-empty --allow-empty-message -m '' --all
	submp = submodule foreach git pull

[user]
	email = s1311350@coins.tsukuba.ac.jp
	name = Kawahara Satoru
