@binding-set gtk-vi-text-entry {
	bind "<alt>w" {"move-cursor" (words, -1, 0)};
	bind "<alt>e" {"move-cursor" (words, 1, 0)};
	bind "<shift><alt>w" {"move-cursor" (words, -1, 1)};
	bind "<shift><alt>e" {"move-cursor" (words, 1, 1)};
	bind "<alt>c" {"copy-clipboard" ()};
	bind "<alt>d" {"delete-from-cursor" (word-ends, 1)};
	bind "<shift><alt>d" {"delete-from-cursor" (word-ends, 1)};
	bind "<alt>v" {"paste-clipboard" ()};
	bind "<ait>r" {"redo" ()};
	bind "<alt>u" {"undo" ()};
}

@binding-set gtk-vi-text-view {
	bind "<alt>c" {"copy-clipboard" ()};
	bind "<alt>v" {"paste-clipboard" ()};
}

@binding-set gtk-vi-tree-view {
	bind "<alt>c" {"copy-clipboard" ()};
	bind "<alt>v" {"paste-clipboard" ()};
}

@binding-set gtk-vi-menu
{
}

GtkEntry {
	-gtk-key-bindings: gtk-vi-text-entry;
}

GtkTextView {
	-gtk-key-bindings: gtk-vi-text-entry, gtk-vi-text-view;
}

GtkTreeView {
	-gtk-key-bindings: gtk-vi-tree-view;
}

GtkMenuShell {
	-gtk-key-bindings: gtk-vi-menu;
}


entry {
  -gtk-key-bindings: gtk-vi-text-entry;
}

textview {
  -gtk-key-bindings: gtk-vi-text-entry, gtk-vi-text-view;
}

treeview {
  -gtk-key-bindings: gtk-vi-tree-view;
}

GtkMenuShell {
  -gtk-key-bindings: gtk-vi-menu;
}
