<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

	<menu id="apps-settings-menu" label="Settings">
		<item label="nitrogen">
			<action name="Execute">
				<command>nitrogen</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="arandr">
			<action name="Execute">
				<command>arandr</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>

		<item label="obkey">
			<action name="Execute">
				<command>obkey</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>

		<item label="mozc_ conf">
			<action name="Execute">
				<command>/usr/lib/mozc/mozc_tool --mode=config_dialog</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>

<menu id="root-menu" label="Openbox 3">
	<menu id="apps-editors-menu"/>
	<menu id="apps-settings-menu"/>
</menu>

</openbox_menu>
