# build and run docker and detect exit code
name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install deps
        run: |
          sudo apt update
          sudo apt install zsh git curl -y
          curl -sS https://starship.rs/install.sh | sh -s -- -y
          curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Setup
        run: ./setup.sh
      - name: Check
        run: |
          ls -fhal ~/.config ~/.zsh*
          echo "Setup finished. Verifying .zshrc..."
          zsh -c 'source ~/.zshrc && echo "PROMPT CHECK:" && echo "-----" && print -P "$PROMPT" && echo "-----"'
