"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

format = "${directory}${git_branch}${git_status}[ ](bg:light_blue)[](fg:light_blue) "

[line_break]
disabled = true

# https://san9.me/transang-blog/2020/05/original/32.png
[palettes.dark_mode]
white = "#CCCCCC"
light_blue = "#428CD4"
blue = "#004E9A"
pink = "#FF9CDA"
violet = "#EA4492"
green = "#afff5f"

[palettes.light_mode]
white = "#FFFFFF"
light_blue = "#A5CAD2"
blue = "#758EB7"
pink = "#FF7B89"
violet = "#8A5082"
green = "#5f8700"

[directory]
style = "bold fg:white bg:light_blue"
format = "[ $path]($style)"
truncation_length = 1
truncate_to_repo = false
truncation_symbol = ""

[git_branch]
style = "bold fg:pink bg:blue"
format = '[ ](bg:light_blue)[](fg:light_blue bg:blue)[ $symbol$branch ]($style)'
symbol = ""

[git_status]
style = "fg:violet bg:blue"
format = '[$all_status$ahead_behind ]($style)[](fg:blue bg:light_blue)'
staged = ""
modified = ""
untracked = "󰧏"
stashed = ''
ahead = "⇡"
behind = "⇣"
diverged = "⇕"

# [custom.nvim]
# description = "Neovim icon when in neovim terminal"
# command = "printf ''"
# when = "printenv NVIM"
# style = "bold fg:green bg:light_blue"
# format = "[ $output]($style)"
